<div class="row">
  <div class="col-8">
    <div *ngIf="isBootstrap | async" class="form-floating mb-3">
      <input
        type="text"
        id="inputTextRequiredBootstrap"
        class="form-control"
        [ngClass]="{
          'is-invalid': (inputTextRequired.errors && !inputTextRequired.pristine),
          'is-valid': (!inputTextRequired.errors && !inputTextRequired.pristine)
        }"
        [placeholder]="labelInput"
        [formControl]="inputTextRequired"/>
      <label for="inputTextRequiredBootstrap">{{ labelInput }}</label>
      <div *ngIf="inputTextRequired.errors && !inputTextRequired.pristine" class="invalid-feedback">
        <div *ngIf="inputTextRequired.errors.required">{{ requiredMessage }}</div>
      </div>
    </div>

    <mat-form-field
      id="inputTextRequiredMaterial"
      *ngIf="isMaterial | async"
      appearance="fill">
      <mat-label>{{ labelInput }}</mat-label>
      <input id="inputTextRequiredMaterial"
        type="text" matInput
        [formControl]="inputTextRequired"
        [placeholder]="labelInput"
        [errorStateMatcher]="inputTextRequiredMatcher">
      <mat-error *ngIf="inputTextRequired.errors?.required">{{ requiredMessage }}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-4">
    <app-control-data-table [control]="inputTextRequired"></app-control-data-table>
  </div>
</div>
