<div class="row">
  <div class="col-8 pb-3">
    <app-cva-input-text [formControl]="inputTextCVA"></app-cva-input-text>
  </div>
  <div class="col-4">
    <app-tabla-datos [control]="inputTextCVA"></app-tabla-datos>
    <div  class="pt-2">
      <button class="btn btn-primary" (click)="randomCode()" [disabled]="inputTextCVA.disabled">Introducir código aleatorio</button>
      <button *ngIf="inputTextCVA.enabled" class="btn btn-primary ms-2" (click)="disableControl()">Deshabilitar</button>
      <button *ngIf="inputTextCVA.disabled" class="btn btn-primary ms-2" (click)="enableControl()">Habilitar</button>
    </div>
  </div>
  <div class="col-12 p-2">
    <ng-container *ngIf="inputTextCVA.touched">
      <div *ngIf="inputTextCVA.errors?.required" class="alert alert-danger" role="alert">
        <span><i class="bi bi-exclamation-triangle-fill me-2"></i></span>El campo es requerido
      </div>
    </ng-container>
  </div>
</div>
