<div class="row">
  <div class="col-8">
    <div *ngIf="isBootstrap | async">
      <div
        *ngFor="let option of options; let idx = index; let isLast = last"
        class="form-check pb-2">
        <input
          class="form-check-input"
          [ngClass]="{ 'is-invalid': inputRadioRequired.errors }"
          type="radio" name="radio"
          id="{{ 'radio' + idx }}" [value]="option.value"
          [formControl]="inputRadioRequired">
        <label class="form-check-label" for="{{ 'radio' + idx }}">{{ option.label }}</label>
        <ng-container *ngIf="isLast">
          <div *ngIf="inputRadioRequired.errors?.required" class="invalid-feedback">{{ requiredMessage }}</div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="isMaterial | async">
      <label class="radio-group__label" id="radioButtonRequiredLabel">{{ labelText }}</label>
      <mat-radio-group
        aria-labelledby="radioButtonRequiredLabel"
        class="radio-group--vertical"
        [formControl]="inputRadioRequired">
        <mat-radio-button
          class="radio-button--vertical"
          *ngFor="let option of options" [value]="option.value">
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="inputRadioRequired.errors?.required">
        {{ requiredMessage }}
      </mat-error>
    </ng-container>
  </div>
  <div class="col-4">
    <app-control-data-table [control]="inputRadioRequired"></app-control-data-table>
  </div>
</div>
