<div class="row">
  <div class="col-8">
    <div class="form-floating mb-3">
      <input
        type="number"
        id="inputNumberMinMax"
        class="form-control"
        [ngClass]="{ 'is-invalid': (inputNumberMinMax.errors && !inputNumberMinMax.pristine) }"
        placeholder="Input numérico con comprobación de mínimo y máximo"
        [formControl]="inputNumberMinMax" />
      <label for="inputNumberMinMax">Input numérico con comprobación de mínimo y máximo</label>
      <div *ngIf="inputNumberMinMax.errors && !inputNumberMinMax.pristine" class="invalid-feedback">
        <div *ngIf="inputNumberMinMax.errors.min">
          El mínimo es {{ inputNumberMinMax.errors.min.min }} (el valor actual es {{ inputNumberMinMax.errors.min.actual }})
        </div>
        <div *ngIf="inputNumberMinMax.errors.max">
          El máximo es {{ inputNumberMinMax.errors.max.max }} (el valor actual es {{ inputNumberMinMax.errors.max.actual }})
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-tabla-datos [control]="inputNumberMinMax"></app-tabla-datos>
  </div>
</div>
