<!-- <div class="row">
  <div class="col-12 pb-4">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item cursor-pointer border rounded mx-2">
        <a class="nav-link" [class.active]="isBootstrap" (click)="changeTo(optionsStyle.BOOTSTRAP)">Bootstrap</a>
      </li>
      <li class="nav-item cursor-pointer border rounded mx-2">
        <a class="nav-link" [class.active]="isMaterial" (click)="changeTo(optionsStyle.MATERIAL)">Material</a>
      </li>
    </ul>
  </div>
</div> -->
<app-style-selector></app-style-selector>
<div class="row">
  <div class="col-8">
    <div class="form-floating mb-3">
      <input
        type="text"
        id="inputTextBootstrap"
        class="form-control"
        placeholder="Input de texto"
        [formControl]="inputTextBootstrap" />
      <label for="inputTextBootstrap">Input de texto</label>
    </div>
  </div>

  <div class="col-4">
    <app-control-data-table [control]="inputTextBootstrap"></app-control-data-table>
  </div>
</div>
