<div class="row">
  <div class="col-8">
    <div *ngIf="isBootstrap | async" class="form-floating mb-3">
      <input
        type="text"
        id="inputTextBootstrap"
        class="form-control"
        placeholder="Input de texto"
        [formControl]="inputTextBootstrap" />
      <label for="inputTextBootstrap">Input de texto</label>
    </div>

    <div *ngIf="isMaterial | async">Material</div>
  </div>

  <div class="col-4">
    <app-control-data-table [control]="inputTextBootstrap"></app-control-data-table>
  </div>
</div>
