<div class="row">
  <div class="col-8">
    <div *ngIf="isBootstrap | async" class="form-floating mb-3">
      <input
        type="text"
        id="inputTextBootstrap"
        class="form-control"
        [placeholder]="labelInput"
        [formControl]="inputText" />
      <label for="inputTextBootstrap">{{ labelInput }}</label>
    </div>

    <mat-form-field *ngIf="isMaterial | async" appearance="fill">
      <mat-label>{{ labelInput }}</mat-label>
      <input matInput type="text" [formControl]="inputText" [placeholder]="labelInput">
    </mat-form-field>
  </div>

  <div class="col-4">
    <app-control-data-table [control]="inputText"></app-control-data-table>
  </div>
</div>
