<div class="row px-0 mb-4">
  <div class="col-6">
    <app-cva-selector
      [formControl]="selectorCVA"
      [opciones]="opciones"
      [valorInicial]="'valor2'">
    </app-cva-selector>
  </div>
  <div class="col-6">
    <app-tabla-datos [control]="selectorCVA"></app-tabla-datos>
    <div  class="py-2">
      <button class="btn btn-primary me-2" (click)="setValue('valor1')">Seleccionar Opcion 1</button>
      <button class="btn btn-primary me-2" (click)="setValue('valor2')">Seleccionar Opcion 2</button>
      <button class="btn btn-primary me-2" (click)="setValue('valor3')">Seleccionar Opcion 3</button>
    </div>
  </div>
</div>

<div class="row px-0 mb-4">
  <div class="col-6">
    <div class="py-2">
      <mat-radio-group
        class="material-selector-type-radio"
        (change)="handleChangeRadioButton($event)"
        [(ngModel)]="radioButtonOptionSelected">
        <mat-radio-button
          *ngFor="let radioOption of radioButtonOptions"
          [value]="radioOption.value">
          {{ radioOption.etiqueta }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="isNoNgModelReactive">
      <div class="py-2">Selector sin ngModel ni formControl</div>
      <app-material-selector
        [value]="'43'"
        (onChange)="handleSelectorProvinciaCambia($event)"
        [opciones]="opcionesProvincias">
      </app-material-selector>
      <div class="py-2" *ngIf="provincia">
        Provincia seleccionada: {{ provincia }} - {{ listaProvincias[provincia] }}
      </div>
    </ng-container>

    <ng-container *ngIf="isNgModel">
      <div class="py-2">Selector con ngModel</div>
      <app-material-selector
        [(ngModel)]="provincia"
        [opciones]="opcionesProvincias">
      </app-material-selector>
      <div class="py-2" *ngIf="provincia">
        Provincia seleccionada: {{ provincia }} - {{ listaProvincias[provincia] }}
      </div>
    </ng-container>

    <ng-container *ngIf="isReactive">
      <div class="py-2">Selector con formControl</div>
      <app-material-selector
        [opciones]="opcionesProvincias"
        [formControl]="selectorProvinciasCVA">
      </app-material-selector>
      <div class="py-2" *ngIf="selectorProvinciasCVA.value">
        Provincia seleccionada: {{ selectorProvinciasCVA.value }} - {{ listaProvincias[selectorProvinciasCVA.value] }}
      </div>
    </ng-container>
  </div>
  <div class="col-6">
  </div>
</div>
