<div class="row">
  <div class="col-12">
    <app-style-selector></app-style-selector>
  </div>
</div>

<div class="accordion accordion-flush" id="selectorSimple">
  <!-- Selector simple -->
  <div class="accordion-item">
    <div class="accordion-header" id="selectorSimple">
      <button class="accordion-button collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#selectorSimpleCollapse"
        aria-expanded="true" aria-controls="selectorSimpleCollapse">
        Selector sin validaciones
      </button>
    </div>

    <div
      id="selectorSimpleCollapse"
      class="accordion-collpase collapse show"
      aria-labelledby="selectorSimple">
      <div class="accordion-body">
        <app-simple-selector></app-simple-selector>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row px-0 mb-4">
  <div class="col-6">
    <app-cva-selector
      [formControl]="selectorCVA"
      [options]="opciones"
      [initialValue]="'valor2'">
    </app-cva-selector>
  </div>
  <div class="col-6">
    <app-control-data-table [control]="selectorCVA"></app-control-data-table>
    <div  class="py-2">
      <button class="btn btn-primary me-2" (click)="setValue('valor1')">Seleccionar Opcion 1</button>
      <button class="btn btn-primary me-2" (click)="setValue('valor2')">Seleccionar Opcion 2</button>
      <button class="btn btn-primary me-2" (click)="setValue('valor3')">Seleccionar Opcion 3</button>
    </div>
  </div>
</div>

<div class="row px-0 mb-4">
  <div class="col-6">
    <div class="py-2">
      <mat-radio-group
        class="material-selector-type-radio"
        (change)="handleChangeRadioButton($event)"
        [(ngModel)]="radioButtonOptionSelected">
        <mat-radio-button
          *ngFor="let radioOption of radioButtonOptions"
          [value]="radioOption.value">
          {{ radioOption.label }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="isNoNgModelReactive">
      <div class="py-2">Selector sin ngModel ni formControl</div>
      <app-material-selector
        [value]="'43'"
        (onChange)="handleStateSelectorChanges($event)"
        [options]="statesOptions">
      </app-material-selector>
      <div class="py-2" *ngIf="state">
        Provincia seleccionada: {{ state }} - {{ statesList[state] }}
      </div>
    </ng-container>

    <ng-container *ngIf="isNgModel">
      <div class="py-2">Selector con ngModel</div>
      <app-material-selector
        [(ngModel)]="state"
        [options]="statesOptions">
      </app-material-selector>
      <div class="py-2" *ngIf="state">
        Provincia seleccionada: {{ state }} - {{ statesList[state] }}
      </div>
    </ng-container>

    <ng-container *ngIf="isReactive">
      <div class="py-2">Selector con formControl</div>
      <app-material-selector
        [options]="statesOptions"
        [formControl]="statesSelectorCVA">
      </app-material-selector>
      <div class="py-2" *ngIf="statesSelectorCVA.value">
        Provincia seleccionada: {{ statesSelectorCVA.value }} - {{ statesList[statesSelectorCVA.value] }}
      </div>
    </ng-container>
  </div>
  <div class="col-6">
  </div>
</div> -->
