<div class="row">
  <div class="col-8">
    <div class="form-floating mb-3">
      <input
        type="text"
        id="inputTextRequired"
        class="form-control"
        [ngClass]="{
          'is-invalid': (inputTextRequired.errors && !inputTextRequired.pristine),
          'is-valid': (!inputTextRequired.errors && !inputTextRequired.pristine)
        }"
        placeholder="Input de texto con valor requerido"
        [formControl]="inputTextRequired" />
      <label for="inputTextRequired">Input de texto con valor requerido</label>
      <div *ngIf="inputTextRequired.errors && !inputTextRequired.pristine" class="invalid-feedback">
        <div *ngIf="inputTextRequired.errors.required">El valor es obligatorio</div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-tabla-datos [control]="inputTextRequired"></app-tabla-datos>
  </div>
</div>
