<div class="row">
  <div class="col-8">
    <div *ngIf="isBootstrap | async" class="form-floating mb-3">
      <textarea
        class="form-control text-area-count"
        id="textAreaCount"
        [formControl]="textAreaCountControl"></textarea>
      <label for="textAreaCount">{{ labelTextArea }}</label>
      <div id="textAreaCountHelp" class="form-text text-end">{{ counterText }}</div>
    </div>

    <mat-form-field *ngIf="isMaterial | async" appearance="fill">
      <mat-label>{{ labelTextArea }}</mat-label>
      <textarea matInput
        class="text-area-count"
        [formControl]="textAreaCountControl"
        [placeholder]="labelTextArea"></textarea>
      <mat-hint align="end">{{ counterText }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="col-4">
    <app-control-data-table [control]="textAreaCountControl"></app-control-data-table>
  </div>
</div>
