<div class="row">
  <div class="col-8">
    <div class="form-floating mb-3">
      <input
        type="text"
        id="inputTextPattern"
        class="form-control"
        [ngClass]="{ 'is-invalid': (inputTextPattern.errors && !inputTextPattern.pristine) }"
        placeholder="Input de texto con comprobación de patrón"
        [formControl]="inputTextPattern" />
      <label for="inputTextPattern">Input de texto con comprobación de patrón</label>
      <div *ngIf="inputTextPattern.errors && !inputTextPattern.pristine" class="invalid-feedback">
        <div *ngIf="inputTextPattern.errors.pattern">
          El texto debe cumplir el patrón XXXXX-XXX
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-control-data-table [control]="inputTextPattern"></app-control-data-table>
  </div>
</div>
