<div class="row">
  <div class="col-8">
    <app-cva-selector
      [isBootstrap]="isBootstrap | async"
      [isMaterial]="isMaterial | async"
      [selectorOptions]="selectorOptions"
      [requiredMessage]="requiredMessage"
      [formControl]="cvaSelectorControl"
    >
    </app-cva-selector>
    <div class="pt-4 d-flex justify-content-end">
      <button
        type="button" class="btn btn-primary"
        *ngIf="cvaSelectorControl.enabled"
        (click)="disableCvaSelector()">Deshabilitar selector</button>
      <button
        type="button" class="btn btn-primary"
        *ngIf="cvaSelectorControl.disabled"
        (click)="enableCvaSelector()">Habilitar selector</button>
    </div>
  </div>
  <div class="col-4">
    <app-control-data-table [control]="cvaSelectorControl"></app-control-data-table>
  </div>
</div>
