<div class="row">
  <div class="col-8">
    <div *ngIf="isBootstrap | async" class="form-floating mb-3">
      <input
        type="email"
        id="inputTextEmailBootstrap"
        class="form-control"
        [ngClass]="{
          'is-invalid': (inputTextEmail.errors && !inputTextEmail.pristine),
          'is-valid': (!inputTextEmail.errors && !inputTextEmail.pristine)
        }"
        [placeholder]="labelInput"
        [formControl]="inputTextEmail" />
      <label for="inputTextEmailBootstrap">{{ labelInput }}</label>
      <div *ngIf="inputTextEmail.errors && !inputTextEmail.pristine" class="invalid-feedback">
        <div *ngIf="inputTextEmail.errors.email">{{ emailFormatMessage }}</div>
      </div>
    </div>

    <mat-form-field *ngIf="isMaterial | async" appearance="fill">
      <mat-label>{{ labelInput }}</mat-label>
      <input type="text" matInput
        id="inputTextEmailMaterial"
        [formControl]="inputTextEmail"
        [placeholder]="labelInput"
        [errorStateMatcher]="inputTextEmailMatcher">
      <mat-error *ngIf="inputTextEmail.errors?.email">{{ emailFormatMessage }}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-4">
    <app-control-data-table [control]="inputTextEmail"></app-control-data-table>
  </div>
</div>
