<div class="row px-0 mb-4">
  <div class="col-6">
    <form novalidate [formGroup]="form">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-valid': !formControls.name.errors && !formControls.name.pristine,
            'is-invalid': formControls.name.errors && !formControls.name.pristine
          }"
          id="name"
          [formControlName]="'name'" />
        <div class="invalid-feedback">
          <div *ngIf="formControls.name.errors?.required">El valor es requerido</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <input
          type="email"
          class="form-control"
          [ngClass]="{
            'is-valid': !formControls.email.errors && !formControls.email.pristine,
            'is-invalid': formControls.email.errors && !formControls.email.pristine
          }"
          id="email"
          [formControlName]="'email'" />
          <div class="invalid-feedback">
            <div *ngIf="formControls.email.errors?.required">El valor es requerido</div>
            <div *ngIf="formControls.email.errors?.email">Se requiere una dirección de e-mail válida</div>
          </div>
      </div>
      <div class="mb-3">
        <label for="state" class="form-label">Provincia:</label>
        <select
          class="form-select"
          [ngClass]="{
            'is-valid': !formControls.state.errors && !formControls.state.pristine,
            'is-invalid': formControls.state.errors && !formControls.state.pristine
          }"
          id="state"
          [formControlName]="'state'">
          <option value="">Elija un valor</option>
          <option *ngFor="let option of stateOptions" [value]="option.code">
            {{ option.state }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <app-lang-selector
          [formControlName]="'lang'"
          [ngClass]="{
            'is-valid': !formControls.lang.errors,
            'is-invalid': formControls.lang.errors
          }"
          (languageChange)="changeLanguage($event)">
        </app-lang-selector>
        <div class="invalid-feedback">
          <div *ngIf="formControls.lang.errors?.required">El idioma es requerido</div>
        </div>
      </div>
      <div class="mb-3">
        <input
          class="form-check-input me-2"
          [ngClass]="{
            'is-valid': !formControls.termsConditions.errors && !formControls.termsConditions.pristine,
            'is-invalid': formControls.termsConditions.errors && !formControls.termsConditions.pristine
          }"
          type="checkbox"
          [formControlName]="'termsConditions'"
          id="termsConditions">
        <label class="form-check-label" for="termsConditions">Aceptar términos y condiciones</label>
        <div class="invalid-feedback">
          <div *ngIf="formControls.termsConditions.errors?.required">Se han de aceptar los términos y condiciones</div>
        </div>
      </div>
      <div class="mb-3 text-end">
        <button
          type="button"
          class="btn btn-primary ms-2"
          [disabled]="!form.valid"
          (click)="handleSend()">
          Enviar
        </button>
        <button
          type="button"
          class="btn btn-primary ms-2"
          [disabled]="form.pristine"
          (click)="handleReset()">
          Reset
        </button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <div>Formulario:</div>
    <app-control-data-table [control]="form"></app-control-data-table>
    <div>Nombre:</div>
    <app-control-data-table [control]="formControls.name"></app-control-data-table>
    <div>Email:</div>
    <app-control-data-table [control]="formControls.email"></app-control-data-table>
    <div>Provincia:</div>
    <app-control-data-table [control]="formControls.state"></app-control-data-table>
    <div>Idioma:</div>
    <app-control-data-table [control]="formControls.lang"></app-control-data-table>
    <div>Términos y condiciones</div>
    <app-control-data-table [control]="formControls.termsConditions"></app-control-data-table>
  </div>
</div>

<swal
  #confirmationSwal
  icon="info"
  [title]="''"
  [text]="''"
  [swalOptions]="popUpOptions">
</swal>
